<mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
<div *ngIf="tokenIsValid" class="wrapper">
    <h1>Reset Your Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onresetPasswordSubmit()">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Enter new Password</mat-label>
                <input type="password" formControlName="newPassword" matInput placeholder="min. length is 6">

            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Re-enter new Password</mat-label>
                <input type="password" formControlName="reNewPassword" matInput placeholder="passwords should match">

            </mat-form-field>
        </p>
        <button *ngIf="resetPasswordForm.valid && !uploadProgress" mat-raised-button color="primary" type="submit">Reset
            Password</button>
        <button *ngIf="!resetPasswordForm.valid" mat-raised-button disabled type="submit">Reset Password</button>
        <button disabled *ngIf="uploadProgress" mat-raised-button color="primary" type="submit">Reset Password</button>
    </form>
</div>

<div *ngIf="!tokenIsValid" class="notValid">
    <h1>
        This link is not available anymore.
    </h1>
</div>