.example-spacer {
    flex: 1 1 auto;
  }

  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.active-tab{
  color: lightblue !important;
}

.tabs{
 width: 15%  !important;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .tabs{
    width: 30%  !important;
   }
}

@media screen and (max-width: 380px) {

  span{
    font-size: medium;
  }
}
@media screen and (max-width: 330px) {

  span{
    font-size: small;
  }
}