.note{
    color: red;
}

.tokenIsExpired{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .center{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 10% !important;
    }
}