<mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
<form *ngIf="!signedUp" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter E-mail</mat-label>
            <input type="email" formControlName="email" matInput placeholder="ex: example@example.com">

        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter UserName</mat-label>
            <input formControlName="userName" matInput placeholder="min length 2">

        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter Password</mat-label>
            <input type="password" formControlName="password" matInput placeholder="min length 6">

        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Re-enter Password</mat-label>
            <input type="password" formControlName="rePassword" matInput placeholder="must match your password">

        </mat-form-field>
    </p>
    <button *ngIf="signUpForm.valid && !clicked" type="submit" color="primary" mat-raised-button>SignUp</button>
    <button disabled *ngIf="!signUpForm.valid" color="primary" mat-raised-button>SignUp</button>
    <button disabled *ngIf="clicked" color="primary" mat-raised-button>SignUp</button>
 
    <h3>Already a member? <a [routerLink]="[ '/login' ]"> LogIn</a></h3>
</form>

<div *ngIf="signedUp" class="center">
    <h1>Check your email {{signUpForm.get('email').value}} To verify Your account.</h1>
    <h1 class="note">Note: Check your spam emails!</h1>
    <p *ngIf="seconds != 0 ">Resend Email after {{seconds}}</p>
    <button (click)="resendConfrmationEmail()" *ngIf="seconds == 0 && !uploadProgress" mat-raised-button>Resend Email</button>
    <button disabled *ngIf="seconds != 0 || uploadProgress" mat-raised-button>Resend Email</button>
</div>