.center-specific{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


app-post{
        
    min-width: 400px;
    max-width: 400px;
}


@media only screen and (max-width: 422px) {
    app-post{
        width: 100%;
        max-width: 100%;
    }
}