<div class="center-specific">
    <div class="profile-header">
        <div class="details">
            <h3 class="userName">
                {{userName}}
            </h3>
            <h3 class="userEmail">
                {{userEmail}}
            </h3>
        </div>
        <div class="qr">

        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="posts">
        <app-post *ngFor="let tweet of authService.userPosts" [id]="tweet._id" [creatorUsername]="userName"
            [imgUrl]="tweet.imageUrl" [content]="tweet.content" [title]="tweet.title"></app-post>
    </div>
</div>

