<div  *ngIf="!spin"  class="center-specific">
    <div class="profile-header">
        <div class="details">
            <h3 class="userName">
                {{userName}}
            </h3>
            <h3 class="userEmail">
                {{userEmail}}
            </h3>
        </div>
        <div class="logout">
            <button (click)="logout()" mat-stroked-button color="warn">Logout</button>

        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="authService.userPosts.length === 0" class="no-posts center">
        <h1>No Tweets Yet</h1>
    </div>

    <div *ngIf="authService.userPosts.length != 0" class="posts">
        <app-post *ngFor="let tweet of authService.userPosts" [id]="tweet._id" [creatorUsername]="userName"
         [date]="tweet.createdAt"   [imgUrl]="tweet.imageUrl" [content]="tweet.content" [title]="tweet.title"></app-post>
    </div>
</div>
<div *ngIf="spin" class="spinner center">
    <mat-spinner ></mat-spinner>
</div>

