<mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!loadSpin" class="center">
   
    <div *ngIf="!spin && !uploadProgress" class="pick-div">
        <button *ngIf="!tweetImg && !slectedImg" class="pick-btn" mat-raised-button (click)="imagePicker.click()">Pick Image
            (optional)</button>
        <button *ngIf="tweetImg || slectedImg" class="pick-btn" mat-raised-button (click)="imagePicker.click()">Replace Image</button>
        <button *ngIf="tweetImg || slectedImg" class="pick-btn" mat-raised-button color="warn" (click)="removeImage()">Remove
            Image</button>
    </div>
    <div *ngIf="spin" class="spinner">
        <mat-spinner ></mat-spinner>
    </div>
    <form class="flex-column" [formGroup]="tweetForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="img" *ngIf="tweetImg && !slectedImg && !spin" [ngStyle]="{ 'background-image': 'url(' +PORT+ tweetImg + ')'}"></div>
        <div class="img" *ngIf="slectedImg && !spin" [ngStyle]="{ 'background-image': 'url(' + slectedImg + ')'}"></div>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Enter Title</mat-label>
                <input type="text" formControlName="title" matInput>

            </mat-form-field>
        </p>

        <input #imagePicker type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Type a Tweet</mat-label>
                
                <textarea formControlName="content" matInput cols="30" rows="10"></textarea>
            </mat-form-field>
        </p>



        <button *ngIf="tweetForm.get('title').valid && tweetForm.get('content').valid && notclicked" mat-raised-button color="primary" type="submit">Edit tweet</button>
        <button disabled *ngIf="!tweetForm.get('title').valid && !tweetForm.get('content').valid" mat-raised-button color="primary">Edit tweet</button>
        <button disabled *ngIf="!notclicked" mat-raised-button color="primary">Edit tweet</button>
    </form>

</div>

<div *ngIf="loadSpin" class="center">
    <mat-spinner ></mat-spinner>
</div>