<mat-progress-bar *ngIf="uploadProgress" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onEmailSubmit()">
    <p>
        <mat-form-field appearance="outline">

            <mat-label>Enter E-mail</mat-label>
            <input type="text" formControlName="email" matInput placeholder="ex: example@example.com">

        </mat-form-field>
    </p>
    
    <p *ngIf="seconds != 0 ">Resend Email After {{seconds}}</p>
    <button *ngIf="forgotPasswordForm.valid && seconds == 0 && !uploadProgress" mat-raised-button color="primary" type="submit">Send me email</button>
    <button disabled *ngIf="!forgotPasswordForm.valid || seconds != 0" mat-raised-button color="primary" type="submit">Send me email</button>
    <button disabled *ngIf="uploadProgress" mat-raised-button color="primary" type="submit">Send me email</button>


</form>