/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.green-snackbar{
    background-color: green;
    color: white;
    margin-top: 17% !important;
}
.red-snackbar{
    background-color: rgb(255, 52, 52);
    color: white;
    margin-top: 17% !important;
}
.mat-simple-snackbar-action {
    color: white !important;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

